<h1>Please select</h1>
<table>
  <tr>
    <td><img [src]="appleSrc" [alt]="appleName" class="item-icon"/></td>
    <td>{{appleName}}</td>
    <td><button type="button" (click)="addApple()">Add</button></td>
  </tr>
  <tr>
    <td><img [src]="bananaSrc" [alt]="bananaName" class="item-icon"/></td>
    <td>{{bananaName}}</td>
    <td><button type="button" (click)="addBanana()">Add</button></td>
  </tr>
  <tr>
    <td><img [src]="orangeSrc" [alt]="orangeName" class="item-icon"/></td>
    <td>{{orangeName}}</td>
    <td><button type="button" (click)="addOrange()">Add</button></td>
  </tr>
  <tr>
    <td><img [src]="pearSrc" [alt]="pearName" class="item-icon"/></td>
    <td>{{pearName}}</td>
    <td><button type="button" (click)="addPear()">Add</button></td>
  </tr>
</table>
